


<section class="section container-fluid">
    <div class="row" style="border:none">
        <div class="wrapper col-md-2 col-sm-2">
            <h4>Profile</h4>
            <p>ここにはユーザ情報が入ります。</p>
        </div>
        <div class="wrapper col-md-7 col-sm-9" style="text-align:center;">
            <h2>Tweet</h2>
            <p>ここにはツイート一覧が表示されます。</p>
            <!--<iframe src="<%= tweets_path %>" seamless sandbox="allow-same-origin"></iframe>-->
            <img src="<%= asset_path "SS_mozaic.png" %>" width="40%">
        </div>
        <div class="wrapper col-md-2 col-sm-1">
            <h4>link</h4>
            ここにはおすすめユーザが入ります。
        </div>
    </div>
</section>
    

