


<section class="section container-fluid">
    <div class="row">
        <div class="wrapper1 col-md-3 col-sm-12">
            <h4>Profile</h4>
            <p>ここにはユーザ情報が入ります。</p>
        </div>
        <div class="wrapper2 col-md-7 col-sm-12">
            <h2>Tweet</h2>
            <p>ここにはツイート一覧が表示されます。</p>
            <!--<iframe src="<%= tweets_path %>" seamless sandbox="allow-same-origin"></iframe>-->
            <img src="<%= asset_path "SS_mozaic.png" %>" width="40%">
        </div>
        <div class="wrapper3 col-md-2 col-sm-12">
            <h4>link</h4>
            ここにはおすすめユーザが入ります。
        </div>
    </div>
</section>
    

