// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
    width: 100%;
    background-color: white;
    height: 60px;
    top: 0px;
    position: absolute;
    padding: 10px 70px 0px 60px;
    border-bottom: 1px solid #dfdfdf;
}
/*
header ul {
    margin: 0 auto;
    list-style: none;
}

header ul a {
    display: block;
    padding: none;
    text-decoration: none;
    color: #333366;
}

header li {
    float: left;
    width: auto;
}

header ul after {
  content: "";
  display: block;
  clear: both;
}

.header-left {
    top: 0px;
    left: 0px;
    position: absolute;
}

.header-right {
    top: 0px;
    right: 0px;
    position: absolute;
}
*/
.tweet-main {
    background-color: #efefef;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    text-align: center;
    background-color: #f7fafd;
}

.container {
    position: relative;
    margin-top: 60px;
    margin-bottom: 80px;
    background-color: #f7fafd;
    /*border-top: 1px solid #dfdfdf;*/
    
}


footer {
  width: 100%;
  background-color: #2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}








/* ここから追加  */



.about {
    background-color: white;
    color: #333;
    padding: 80px;
}

.function {
    background-color: #e9e9e9;
    padding: 80px;
    padding-bottom: 185px;
}

.page-top-btn {
    display: none;
    border-radius: 50px;
    background: #336699;
    width: 60px;
    height: 60px;
    transition: all 0.3s;
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 20;
    a {
        display: block;
        color: white;
        line-height: 60px;
        text-decoration: none;
    }
    &:hover {
        opacity: 0.7;
    }
}

.navbar-default {
    border: 0;
}


.navbar {
    background-color: transparent;
    color: #999999;
    margin-bottom: 0px;
}

.navbar-default {
    .navbar-brand {
        color: #999999;
        &:hover {
            color: #3366cc;
            border-bottom: 3px #3366cc;
        }
    }
    .navbar-nav > li > a {
        color: #999999;
        display: inline;
        &:hover, &:focus {
            color: #3366cc;
            border-bottom: 3px #3366cc;
        }
    }
    .navbar-nav > .open > a {
        background-color: transparent;
        color: #999999;
        &:hover, &:focus {
            background-color: transparent;
            color: #3366cc;
            border-bottom: 3px #3366cc;
        }
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ccc;
        text-align: center;
        &:hover, &:focus {
            color: white;
        }
    }
    .navbar-default .navbar-toggle {
        background-color: transparent;
        &:hover, &:focus {
            background-color: transparent;
        }
    }

}  

.section {
    margin: 60px 0px 0px 0px;
    background-color: #f7fafd;
}

h1 {
    color: #cccccc;
}

h2 {
    color: #cccccc;
}

h4 {
    color: #cccccc;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.wrapper {
    border: 1px solid #bfbfbf;
    border-radius: 20px;
    margin: 15px; 
    padding: 20px;
    background-color: white;
}

.wrapper1 {
    border: 1px;
    margin-left: 60px;
    background-color: white;
}

.wrapper2 {
    border: 1px;
    margin: 0 20 0 20;
    background-color: white;
}

.wrapper3 {
    border: 1px;
    margin-right: 60px;
    background-color: white;
}

iframe {
    width: 100%;
    height: 100%;
}
/*
.twittericon {
    background-position: center; 
    margin: 0 40 0 0;
    padding: 0 40 0 0;
}
*/

.tweet {
    background-position: center;
    float: right;
}


.row {
    border-bottom: 1px solid #bfbfbf;
    padding: 20px;
    text-align: left;
}